.mat-form-field {
  width: 100%;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 !important;
}

.mat-list-item {
  background-color: transparent;
  border: none;
  border-radius: 5px;

  &:hover {
    background: rgba(0, 0, 0, 0.04);
    cursor: pointer;
  }

  .mat-icon {
    margin-right: 10px;
  }
}

.mat-divider {
  margin: 5px 0 !important;
}

.mat-drawer-content {
  margin: 10px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.mat-dialog-content {
  padding-top: 6px !important;
}

.mat-form-field-subscript-wrapper {
  margin-top: 0.3em;
}
