<div class="container">
  <div class="wrapper">
    <mat-card class="login-form">
      <div class="logo-corpocaldas">
        <img
          class="img-responsive"
          src="assets/images/logo-corpocaldas.png"
          alt="Logo Corpocaldas"
        >
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput type="text" formControlName="username">
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
          <button
            mat-icon-button matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword"
          >
            <mat-icon color="primary">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>

        <button
          type="submit"
          class="w-100"
          mat-raised-button
          color="primary"
        >
          Ingresar
        </button>
      </form>
    </mat-card>
  </div>
</div>
