@import 'src/styles/utilities/variables';

.container {
  height: $height-content;
  width: 100%;
}

.menu-title {
  margin-block-end: 0;
}

.sidenav {
  padding: 20px;
  width: 275px;
}

.sidenav-content {
  height: 100%;
}

.toolbar {
  height: $height-toolbar;
}
